body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login{
	max-width:400px;
	padding:20px;
	margin: 0 auto;
}
.control-group{
	padding:10px;
}
.form-login{

}
.nav-login{
	padding-right:50px;
}